.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("../../assets/login-image.png");
  background-size: cover;
  background-position: center center;
  padding: 0px;
}

.hide-header {
  display: none !important;
}

.bg-light {
  background: #fff;
}

.form-control {
  border-radius: 0.25rem;
  border: 1px solid #c1c1c1;
  padding: 0px 8px 0px 35px !important;
  height: 3.25rem;
  color: #000 !important;
  font-weight: bold;
}
.blue {
  background: #219ebc;
}

.icon-view {
  position: absolute;
  right: 10px;
  top: 14px;
  color: #c1c1c1;
}
.overlay-text {
  position: absolute;
  top: -11px;
  left: 15px;
  background: #fff;
  color: rgba(0, 0, 0, 0.6);
  padding: 0px 3px;
}

.remeber {
  display: flex;
  justify-content: space-between;
}

.remeber {
  padding-top: 20px;
}
.checkbox {
  display: flex;
}

.checkbox label {
  padding-left: 10px;
}

.checkbox input {
  width: 24px;
  height: 24px;
}
.remeber a {
  color: #219ebc;
  text-decoration: none;
}
button.disabled:hover {
  cursor: not-allowed;
}

.forgot-pwd-link {
  color: #023047;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.6px; /* 132.857% */
  letter-spacing: 0.14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.pwdErrMessage {
  color: red;
  margin-top: -18px;
}
