<div class="container-fluid">
  <div class="row no-gutter">
      <!-- The image half -->
      <div class="col-md-6 d-none d-md-flex bg-image">
        <div class="left-login">
          <a class="logo login-logo"><img title="Logo" alt="log" height="35" src="../assets/Evoke_logo.png"></a>
        <div class="heading-text"> <h1>Empowering Code Excellence. <br/>
           Seamless Reviews.
           <br/>Stronger Code, Brighter Future.</h1></div>

        <div class="login-footer">
          <!-- <p>Designed & Developed by Evoke Technologies Pvt Ltd © 2023.</p> -->
          <ul>
            <li>Evoke Technologies Pvt Ltd © 2023 All Rights Reserved</li>
            <!--<li>|</li>
            <li>Beta v.1.0</li> -->
          </ul>
          <span class="feedback">Provide feedback</span>
        </div>
      </div>
    </div>

    <!-- The content half -->
    <div class="col-md-6 bg-white">
      <a href="index.html#default" class="logo m-logo"><img title="Logo" alt="log" height="35"
          src="../assets/Evoke_logo.png"></a>
      <div class="login d-flex align-items-center py-5">

        <!-- Demo content-->
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <strong class="sign-title">Change New Password</strong>

              <form (submit)="onResetPassword()" [formGroup]="forgotPasswordForm">

                <div class="form-group mb-bottom">
                  <label for="newPassword" class="overlay-text">New Password</label>
                  <input id="newPassword" formControlName="newPassword" [type]="showPassword ? 'text' : 'password'"
                    placeholder="Password" name="password" class="form-control px-4 text-primary">
                  <img class="icon-login" src="../assets/Lock_light.svg" alt="Lock icon" title="Lock">
                  <!-- <img class="icon-view" src="../assets/View_light.svg" alt="view" title="view">-->
                  <mat-icon class="icon-view" matSuffix (click)="togglePasswordVisibility()">
                    {{showPassword?'visibility_off':'visibility'}}
                  </mat-icon>
                </div>

                <div class="form-group mb-bottom">
                  <label for="confirmPassword" class="overlay-text">Confirm Password</label>
                  <input id="confirmPassword" formControlName="confirmPassword" [type]="showPassword ? 'text' : 'password'"
                    placeholder="Password" name="password" class="form-control px-4 text-primary">
                  <img class="icon-login" src="../assets/Lock_light.svg" alt="Lock icon" title="Lock">
                  <!-- <img class="icon-view" src="../assets/View_light.svg" alt="view" title="view">-->
                  <mat-icon class="icon-view" matSuffix (click)="togglePasswordVisibility()">
                    {{showPassword?'visibility_off':'visibility'}}
                  </mat-icon>
                </div>

                <div *ngIf="forgotPasswordForm.hasError('mismatch', 'confirmPassword')" class="mb-bottom pwdErrMessage">
                  Please make sure your passwords match.
                </div>

                <button type="submit" class="btn-h full-btn blue not-allowed btn-save"
                  [ngStyle]= "forgotPasswordForm.invalid?{'background':'#ccc'}:{'background':'#219EBC'}"
                  [disabled]= "forgotPasswordForm.invalid">Save
                </button>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
