<div class="main-body"><div class="container">
        <legend>Reviewer Detail's</legend>
                        <form class="row" [formGroup]="codeReviewerForm" >
                    <div class="mb-3 col-md-6 col-sm-12">
                        <label for="account" class="form-label">Account</label><span style="color: red;">*</span>
                        <input [readOnly]="status=='completed'"
                        [ngStyle]="{'background-color':status=='completed'?'#71606026':''}"

                          type="text"
                          class="form-control"
                          id="account"
                          formControlName="account"
                        />
                      </div>
                        <div class="mb-3 col-md-6 col-sm-12">
                        <label for="project" class="form-label">Project</label><span style="color: red;">*</span>
                        <input [readOnly]="status=='completed'"
                        [ngStyle]="{'background-color':status=='completed'?'#71606026':''}"
                          type="text"
                          class="form-control"
                          id="project"
                          formControlName="project"
                        />
                      </div>
                      <div class="mb-3 col-md-6 col-sm-12">
                        <label for="storyId" class="form-label">Technical Stack</label><span style="color: red;">*</span>

                      <mat-select  (selectionChange)="onSelectStack($event.value)" [(ngModel)]="stack" class="form-control"
                      id="technicalStack"
                      formControlName="technicalStack">
                        <mat-option *ngFor="let stack of technicalStackList" [value]="stack">
                          {{stack.name}}
                        </mat-option>
                      </mat-select>
                      </div>
                      <div class="mb-3 col-md-6 col-sm-12">
                        <label for="storyId" class="form-label">Technology</label><span style="color: red;">*</span>

                      <mat-select (selectionChange)="onSelectTechnology($event.value)" [(ngModel)]="technology" class="form-control"
                      formControlName="technology"  >
                        <mat-option *ngFor="let technology of technologyList" [value]="technology" >
                          {{technology.name}}
                        </mat-option>
                      </mat-select>
                      </div>
                      <div class="mb-3 col-md-6 col-sm-12">
                        <label for="storyId" class="form-label">Story ID (Enter if applicable)</label>
                        <input [readOnly]="status=='completed'"
                        [ngStyle]="{'background-color':status=='completed'?'#71606026':''}"
                          type="text"
                          class="form-control"
                          id="storyId"
                          formControlName="storyId"
                        />
                      </div>
                      <div class="mb-3 col-md-6 col-sm-12">
                        <label for="developers" class="form-label">Developers</label><span style="color: red;">*</span>
                        <input [readOnly]="status=='completed'"
                        [ngStyle]="{'background-color':status=='completed'?'#71606026':''}"
                          type="text"
                          class="form-control"
                          id="developers"
                          formControlName="developers"
                        />
                      </div>
                      <div class="mb-3 col-md-6 col-sm-12">
                        <label for="projectLead" class="form-label">Project Lead</label><span style="color: red;">*</span>
                        <input [readOnly]="status=='completed'"
                        [ngStyle]="{'background-color':status=='completed'?'#71606026':''}"
                          type="text"
                          class="form-control"
                          id="projectLead"
                          formControlName="projectLead"
                        />
                      </div>
                      <div class="mb-3 col-md-6 col-sm-12">
                        <label for="projectLead" class="form-label">Review Packages and Files</label>
                        <input [readOnly]="status=='completed'"
                        [ngStyle]="{'background-color':status=='completed'?'#71606026':''}"
                          type="text"
                          class="form-control"
                          id="reviewPackagesandFiles"
                          formControlName="reviewPackagesandFiles"
                        />
                      </div>
                      <div class="mb-3 col-md-6 col-sm-12">
                        <label for="reviewersName" class="form-label">Reviewers Name</label><span style="color: red;">*</span>
                        <input [readOnly]="status=='completed'"
                        [ngStyle]="{'background-color':status=='completed'?'#71606026':''}"
                          type="text"
                          class="form-control"
                          id="reviewersName"
                          formControlName="reviewersName"
                        />
                      </div>
                      <div class="mb-3 col-md-6 col-sm-12">
                        <label for="reviewersName" class="form-label">Code Review Comments</label>
                        <!-- #71606026 -->
                        <input [readOnly]="status=='completed'"
                        [ngStyle]="{'background-color':status=='completed'?'#71606026':''}"
                          type="text"
                          class="form-control"
                          id="codeReviewComments"
                          formControlName="codeReviewComments"
                        />
                      </div>
                      <div class="save-submit-button table-button">

                          <span *ngIf="(status==''||status=='pending')" >
                            <button type="submit" class="btn btn-primary"  [disabled]="!(codeReviewerForm.get('account')?.value && codeReviewerForm.get('project')?.value && codeReviewerForm.get('technicalStack')?.value && codeReviewerForm.get('technology')?.value && codeReviewerForm.get('developers')?.value && codeReviewerForm.get('projectLead')?.value && codeReviewerForm.get('reviewersName')?.value)" (click)="save()"  >Save</button>
                              </span>
                          <!-- <span *ngIf="status=='pending'"> -->
                        <!-- <button type="submit" class="btn btn-primary"  [disabled]="!(codeReviewerForm.get('account')?.value && codeReviewerForm.get('project')?.value && codeReviewerForm.get('technicalStack')?.value && codeReviewerForm.get('technology')?.value && codeReviewerForm.get('developers')?.value && codeReviewerForm.get('projectLead')?.value && codeReviewerForm.get('reviewersName')?.value)" (click)="save()" >Save</button> -->
                          <!-- </span> -->
                          <span *ngIf="status=='completed'">
                            <button class="btn btn-primary" (click)="getBackDetails()">Back</button>
                          </span>
                        </div>
                        <div>
                        <button type="submit" class="btn btn-success" style="margin-left: 20px;" [disabled]="codeReviewerForm.invalid"  (click)="submitReviewDetails()">Next</button>


                      </div>

                </form>



</div>
</div>
