

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image:url('../../assets/login-image.png');
  background-size: cover;
  background-position: center center;
  padding: 0px;
}

.hide-header {
  display:none !important;
}

.bg-light {
background: #fff;
}

.form-control {
border-radius: 0.25rem;
border: 1px solid #C1C1C1;
padding: 0px 8px 0px 35px!important;
height: 3.25rem;
color:#000 !important;
font-weight:bold;
}
.blue {
  background: #219EBC;
}

.icon-view {
  position: absolute;
  right: 10px;
  top: 14px;
  color:#c1c1c1;
}
.overlay-text {
    position: absolute;
    top: -11px;
    left: 15px;
    background: #fff;
    color: rgba(0, 0, 0, 0.60);
    padding: 0px 3px;
}

.remeber {
  display: flex;
  justify-content: space-between;
}

.remeber {
  padding-top:20px;
}
.checkbox{
display: flex;}

.checkbox label {
  padding-left: 10px;
}

.checkbox input {
  width: 24px;
  height: 24px;

}
.remeber a {
color:#219EBC;
text-decoration: none;
}
button.disabled:hover {
  cursor: not-allowed;
}
