<div class="container-fluid">
  <div class="row no-gutter">
      <!-- The image half -->
      <div class="col-md-6 d-none d-md-flex bg-image">
        <div class="left-login">
          <a class="logo login-logo"><img title="Logo" alt="log" height="35" src="../assets/Evoke_logo.png"></a>
        <div class="heading-text"> <h1>Empowering Code Excellence. Seamless Reviews. Stronger Code, Brighter Future.</h1></div>

        <div class="login-footer">
          <p>Designed & Developed by Evoke Technologies Pvt Ltd © 2023.</p>
          <ul>
            <li>All Rights Reserved</li>
            <li>|</li>
            <li>Beta v.1.0</li>
          </ul>
          <span class="feedback">Provide feedback</span>
         </div>
      </div>


      </div>

      <!-- The content half -->
      <div class="col-md-6 bg-white">
        <a href="index.html#default" class="logo"><img title="Logo" alt="log" height="35" src="../assets/Evoke_logo.png"></a>
          <div class="login d-flex align-items-center py-5">



              <!-- Demo content-->
              <div class="container">
                  <div class="row">
                      <div class="col-lg-10 col-xl-7 mx-auto">
                          <strong class="sign-title">Sign in to your Account</strong>

                          <form (submit)="onSubmit()" [formGroup]="loginForm">
                              <div class="form-group mb-bottom">
                                <label class="overlay-text">Email Address</label>
                                  <input id="inputEmail" type="email" formControlName="email"  name="username" class="form-control px-4">
                                  <img class="icon-login" src="../assets/Message_light.svg" alt="Message icon" title="Message">
                                </div>
                              <div class="form-group mb-bottom">

                                <label class="overlay-text">Password</label>
                                  <input id="inputPassword" formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Password"  name="password" class="form-control px-4 text-primary">
                                  <img class="icon-login" src="../assets/Lock_light.svg" alt="Lock icon" title="Lock">
                                  <!-- <img class="icon-view" src="../assets/View_light.svg" alt="view" title="view">-->

                                  <mat-icon class="icon-view" matSuffix (click)="togglePasswordVisibility()">
                                    {{showPassword?'visibility_off':'visibility'}}
                                </mat-icon>
                                </div>

                              <button type="submit"  class="full-btn blue " [ngStyle]="loginForm.invalid?{'background':'#92c4d0'}:{'background':'#219EBC'}" [disabled]="loginForm.invalid">Login</button>
<div class="remeber">



                            </div>
                          </form>
                      </div>
                  </div>
              </div><!-- End -->

          </div>
      </div><!-- End -->

  </div>
</div>
