  <div class="table-button details-main details-heading grey-bg">
    <div>
      <!-- Himanshu -- Static currently as create-checklist drpdown is not functional currently -->
      <h1 style="font-size: 1.25rem;">React Js Checklist</h1>
      <ul class="pagination">
        <li><a href="">Dashboard</a></li>
        <li><img src="../assets/icon-arrow-right.svg" alt="arrow icon" title="arrow"></li>
        <li><a href="">Code Review Management</a></li>
        <li><img src="../assets/icon-arrow-right.svg" alt="arrow icon" title="arrow"></li>
        <li>Create New Checklist</li>
      </ul>
    </div>
    <button class="button-all btn-blue save-btn">Save</button>
  </div>

  <div class="details-body">
    <div class="container row">

      <div class="left-content col-md-3 col-sm-4">
        <div class="checklist-details-box checklist-details">
          <div class="mb-3">
            <label for="checklist-heading" class="form-label">Checklist Heading <span class="red-dot"></span></label>
            <input type="text" class="form-control checklist-heading" id="checklist-heading"
              [(ngModel)]="checklistHeading" placeholder="Enter checklist heading here" />
            <button class="button-all btn-outline btn-add mg-0">Add</button>
          </div>
        </div>

        <ul>
          <li> <a class="nav-links">FUNCTIONAL CHECKLIST</a> </li>
          <li> <a class="nav-links">PERFORMANCE</a> </li>
          <li> <a class="nav-links">STRUCTURAL</a> </li>
          <li> <a class="nav-links">SECURITY</a> </li>
          <li> <a class="nav-links">UNIT TESTING</a> </li>
        </ul>
      </div>

      <div class="right-content col-md-9 col-sm-8">
        <div class="row-heading">
          <div class="right-content1">Functional Checklist</div>
          <div class="right-content2">
            <button class="btn-outline btn-delete mg-0" (click)="modalService.open('modal-1')">Delete this
              section</button>
            <button class="btn-outline btn-main-question mg-0" (click)="modalService.open('modal-2')">Add Main
              Question</button>
          </div>
        </div>

        <div class="row-content">
          <div class="main-question">
            <div>
              <span class="question-content">Does code meet functional requirement?</span>
            </div>
            <div>
              <button class="btn-outline btn-main-question mg-0" (click)="modalService.open('modal-3')">Add Sub
                Question</button>
              <span class="edit-btn"><a (click)="modalService.open('modal-2')"><img src="../assets/Edit_light.svg"
                    alt="editIcon" title="edit"></a></span>
              <span class="delete-btn"><a (click)="modalService.open('modal-1')"><img src="../assets/trash-can.svg"
                    alt="deleteIcon" title="delete"></a></span>
            </div>
          </div>
          <div class="main-question">
            <div>
              <span class="question-content">Is there any excess functionality in the code but not declined in the
                Story?</span>
            </div>
            <div>
              <button class="btn-outline btn-main-question mg-0" (click)="modalService.open('modal-3')">Add Sub
                Question</button>
              <span class="edit-btn"><a (click)="modalService.open('modal-2')"><img src="../assets/Edit_light.svg"
                    alt="editIcon" title="edit"></a></span>
              <span class="delete-btn"><a (click)="modalService.open('modal-1')"><img src="../assets/trash-can.svg"
                    alt="deleteIcon" title="delete"></a></span>
            </div>
          </div>
          <div class="sub-question">
            <div>
              <span class="sub-question-content">Does it define the expected system service and behavior</span>
            </div>
            <div>
              <span class="edit-btn"><a (click)="modalService.open('modal-3')"><img src="../assets/Edit_light.svg"
                    alt="editIcon" title="edit"></a></span>
              <span class="delete-btn"><a (click)="modalService.open('modal-1')"><img src="../assets/trash-can.svg"
                    alt="deleteIcon" title="delete"></a></span>
            </div>
          </div>
          <div class="sub-question">
            <div>
              <span class="sub-question-content">Is is expressed in Use Case form or user story as they exhibit
                externally
                visible functional behaviour</span>
            </div>
            <div>
              <span class="edit-btn"><a (click)="modalService.open('modal-3')"><img src="../assets/Edit_light.svg"
                    alt="editIcon" title="edit"></a></span>
              <span class="delete-btn"><a (click)="modalService.open('modal-1')"><img src="../assets/trash-can.svg"
                    alt="deleteIcon" title="delete"></a></span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <cr-modal id="modal-1" class="dialog-card main-cards delete-popup">
    <!-- <div class="dialog-card main-cards "> -->
      <mat-dialog-content class="mat-typography">
        <strong class="comment-question">Do you really want to delete?</strong>
        <span class="close" mat-button mat-dialog-close (click)="modalService.close()"><img alt="close btn"
            src="../assets/close-popup.svg" /></span>
        <!-- <strong class="comment-question">Do you really want to delete?</strong> -->
        <form>
          <div class="table-button flex-center delete-project">
            <button class="button-all btn-outline mg-0 delete-box" (click)="modalService.close()">Cancel</button>
            <button class="button-all btn-blue mg-0 delete-box" style="margin-left: 20px;">Delete</button>
          </div>
        </form>
      </mat-dialog-content>
    <!-- </div> -->
  </cr-modal>


  <cr-modal id="modal-2" class="add-main-question">
    <mat-dialog-content class="mat-typography">
      <strong class="comment-question">Add Main Question</strong>
      <span class="close" mat-button mat-dialog-close (click)="modalService.close()"><img alt="close btn"
          src="../assets/close-popup.svg" /></span>
      <hr>

      <div class="main-question-box">
        <label for="enter-question" class="form-label">Question Text </label>
        <textarea type="text" class="form-control" id="enter-question" placeholder="Enter question here"></textarea>
      </div>

      <form>
        <div class="table-button flex-center delete-project">
          <button class="button-all btn-outline mg-0 delete-box" (click)="modalService.close()">Cancel</button>
          <button class="button-all btn-blue mg-0 delete-box" style="margin-left: 20px;">Add</button>
        </div>
      </form>
    </mat-dialog-content>
  </cr-modal>


  <cr-modal id="modal-3" class="add-main-question">
    <mat-dialog-content class="mat-typography">
      <strong class="comment-question">Add Sub Question</strong>
      <span class="close" mat-button mat-dialog-close (click)="modalService.close()"><img alt="close btn"
          src="../assets/close-popup.svg" /></span>
      <hr>

      <div class="main-question-box">
        <label for="enter-question" class="form-label">Question Text </label>
        <textarea type="text" class="form-control" id="enter-question" placeholder="Enter question here"></textarea>
      </div>

      <form>
        <div class="table-button flex-center delete-project">
          <button class="button-all btn-outline mg-0 delete-box" (click)="modalService.close()">Cancel</button>
          <button class="button-all btn-blue mg-0 delete-box" style="margin-left: 20px;">Add</button>
        </div>
      </form>
    </mat-dialog-content>
  </cr-modal>
