<div class="main-body bottom-space">
  <div class="container">
    <div class="table-button top-heading">
    <h1 style="font-size: 1.25rem;">Code Review Management</h1>
    <div class="search">
      <!-- <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search">
        <img class="icon-serch" src="../assets/Search.svg" alt="Search icon" title="Search">
      </div> -->
    <button (click)="CreateChecklist()"  class="button-all btn-blue mg-0">Create New Checklist</button>
    </div>
  </div>

    <!-- (click)="create-checklist" -->

<div class="project-name">
  <div class="project">
   <h6><span>Technology Name</span>React JS</h6>
      <ul class="icons-view">
      <li><img title="view page" alt="View" src="../assets/view.svg"></li>
      <li><img title="view page" alt="View" src="../assets/comments.svg"></li>
      <li><img title="view page" alt="View" src="../assets/delete.svg"></li>
    </ul>
  </div>
    <div class="line"></div>
    <ul class="project accounts">
      <li>Version Type <strong>V2.4.6</strong></li>
      <li>Technology Type <strong>Type Script, Front End, Material UI</strong></li>
      <li>Additional Information <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </strong></li>

    </ul>
  </div>



  <div class="project-name">
    <div class="project">
     <h6><span>Technology Name</span>Angular</h6>

      <ul class="icons-view">
        <li><img title="view page" alt="View" src="../assets/view.svg"></li>
        <li><img title="view page" alt="View" src="../assets/comments.svg"></li>
        <li><img title="view page" alt="View" src="../assets/delete.svg"></li>
      </ul>
    </div>
      <div class="line"></div>
      <ul class="project accounts">
        <li>Version Type <strong>V9.86.3</strong></li>
        <li>Technology Type <strong>Type Script, Front End, Material UI</strong></li>
        <li>Additional Information <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </strong></li>
        </ul>
    </div>

  </div>
</div>
