<div class="main-body bottom-space">
  <div class="container">
    <div class="table-button top-heading">
    <h1>Code Review Management</h1>
    <div class="search">
     
    <button (click)="CreateChecklist()"  class="button-all btn-blue mg-0">Create New Checklist</button>
    </div>
  </div>


<div class="project-name" *ngFor="let tech of technologyList">
  <div class="project" >
   <h6><span>Technology Name</span>{{tech.name | capitalizeWords}}</h6>
      <ul class="icons-view">
      <li (click)="navigateCCheckListPage(tech.name,tech._id)"><img title="view page" alt="View" src="../assets/File_dock_light.svg"></li>
      <li><img title="Delete Framework" alt="View" src="../assets/trash-can-l.svg"></li>
    </ul>
  </div>
    <div class="line"></div>
    <ul class="project accounts">
      <li>Version Type <strong>V2.4.6</strong></li>
      <li>Technology Type <strong>Type Script, Front End, Material UI</strong></li>
      <li>Additional Information <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </strong></li>

    </ul>
  </div>





  </div>
</div>
