
<div class="container">
  <mat-tab-group class="tabs-grey">
    <mat-tab class="tab-heading" label="Code Review">

     <mat-tab-group class="vertical-tabs" animationDuration="0ms"  (selectedTabChange)=" onGetSideSelectedValue($event)"  [formGroup]="reviewTrackerForm"   >
        <mat-tab  *ngFor="let sideData of sideNavDetails; let i=index"  [label]="sideData"   >
          <ng-template mat-tab-label  >
            <div class="steps"></div>
            <span class="steps-title" >{{sideData}}</span>
        </ng-template>
        <h2 class="heading">{{selectelTabCheckList?.key}} Checklist</h2>


    <div formArrayName="value">
      <div *ngFor="let list of reviewTrackerForm.get('value')['controls'];let i=index" [formGroupName]="i" >
            <div class="heading-grey"><h4  class="top-20"  > {{selectelTabCheckList.value[i]?.key}} </h4>

              <div class="box--right">
              <div class="selection select-dropdown" *ngIf="selectelTabCheckList.value[i]?.options==''">
                <mat-label>Applicable</mat-label>
                <mat-form-field >
                    <mat-select formControlName="options" (selectionChange)="getChildSelectedOption($event,'child',i)">
                      <mat-option [value]="opt" *ngFor="let opt of selectOptions">{{opt}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="rating select-dropdown" *ngIf="selectelTabCheckList.value[i]?.rating==''" >

                 <mat-label>Rating</mat-label>
                 <mat-form-field class="example-full-width">
                  <input matInput type="number" [readonly]="true"  formControlName="rating" >
                  <div *ngIf="reviewTrackerForm.get(['value', i, 'rating']).hasError('pattern') && reviewTrackerForm.get(['value', i, 'rating']).touched">
                    Number must be between 0 and 5
                  </div>
                </mat-form-field>


               </div>


                <div class="rating-number" *ngIf="selectelTabCheckList.value[i]?.achievedRating==''" >

                 <div class="rating select-dropdown"  >
                  <mat-label>Achieved</mat-label>
                  <mat-form-field class="example-full-width">
                  <input type="text"  matInput [readonly]="isChildReadOnly(i)"  formControlName="achievedRating" >
                 </mat-form-field>


                </div>


               </div>

               <div class="Comment" (click)="openDialog()"   *ngIf="selectelTabCheckList.value[i]?.comments==''"  >
                <img src="../assets/comment_light.svg">
                <div *ngIf="isActiveComments">
                <input type="text">

                </div>
              </div>


            </div>
          </div>

            <div *ngIf="selectelTabCheckList.value[i]?.value">
              <div formArrayName="value">
                <div class="quality" *ngFor="let subChild of list.get('value')['controls'];let j=index" [formGroupName]="j">
                  <div class="questions" >
                    {{selectelTabCheckList.value[i]?.value[j]?.key}}
                    </div>
                    <div class="box--right">
                      <div class="selection select-dropdown" >
                      <mat-label>Applicable</mat-label>
                      <mat-form-field>
                          <mat-select   (selectionChange)="getSubChildSelection($event,'subChildOption',j,i)" formControlName="options"  >
                            <mat-option [value]="opt" *ngFor="let opt of selectOptions">{{opt}}</mat-option>
                          </mat-select>

                        </mat-form-field>
                      </div>


                      <div class="rating select-dropdown">
                       <mat-label>Rating</mat-label>
                       <mat-form-field class="example-full-width">
                        <input matInput  [readonly]='true'  formControlName="rating" onlyNumber  >
                      </mat-form-field>
                     </div>


                     <div class="rating-number">
                      <div class="achieved select-dropdown">
                        <mat-label>Achieved</mat-label>
                        <mat-form-field class="example-full-width">
                          <mat-label>Achieved Rating</mat-label>
                          <input matInput type="number" [readonly]="isSubChildReadOnly(j,i)"    formControlName="achievedRating" >
                        </mat-form-field>

                      </div>
                     </div>

                     <form>
                      <label class="label-popup" for="Add Comments">Add Comments:</label>
                        <textarea class="form-control" placeholder="Enter your comments here"  rows="4" cols="50"></textarea>
                        <div class="table-button flex-center">
                        </div>

                        </form>
                     <div class="Comment" (click)="openDialog()"><img src="../assets/comment_light.svg"></div>
                   </div>


              </div>
            </div>

      </div>
      <div class="table-button flex-center top-20">
      <!-- <button class="button-all btn-blue mg-0 save-btn" (click)="saveCheckListData()">Save</button> -->
      </div>
        </div>
        <button class="button-all btn-blue mg-0 save-btn" [disabled]="disableSave"  (click)="saveCheckListData(reviewTrackerForm.valid)">Save</button>

      </div>




        </mat-tab>






      </mat-tab-group>
    </mat-tab>


<mat-tab label="Sonar QUbe">

<!-- Sonar Qube--------------------------------------->
<div class="main-body grey-bg">
  <div class="container">
        <div class="table-button details-main top-heading top-page">
          <div><h1>SonarQube</h1>
            <ul class="pagination">
            <li><a href="">Dashboard</a></li>
            <li><img src="../assets/icon-arrow-right.svg" alt="arrow icon" title="arrow"></li>
            <li><a href=""> Create New Project</a></li>
            <li><img src="../assets/icon-arrow-right.svg" alt="arrow icon" title="arrow"></li>
            <li>SonarQube</li>
          </ul>
        </div>

          </div>
          <div class="details-main">
                        <form class=" details-box" >
                        <div class="main-sonar">
                          <h2>Bugs</h2>
                          <div class="row ">
                          <div class="mb-3 col-md-3 col-sm-12">
                            <label for="project" class="form-label">Result <span style="color: red;">.</span></label>
                            <input

                              type="text"
                              class="form-control"
                              id="project"
                              formControlName="project"
                            />
                          </div>
                    <div class="mb-3 col-md-3 col-sm-12">
                        <label for="account" class="form-label">Points <span style="color: red;">*</span></label>
                        <input


                          type="text"
                          class="form-control"
                          id="account"
                          formControlName="account"
                        />
                      </div>
                      <div class="mb-3 col-md-3 col-sm-12">
                        <label for="account" class="form-label">Achieved <span style="color: red;">*</span></label>
                        <input


                          type="text"
                          class="form-control"
                          id="account"
                          formControlName="account"
                        />
                      </div>
                      <div class="mb-3 col-md-3 col-sm-12">
                        <label for="account" class="form-label">Comments <span style="color: red;">*</span></label>
                        <input


                          type="text"
                          class="form-control"
                          id="account"
                          formControlName="account"
                        />
                      </div>
                      <div class="mb-3 col-md-9 col-sm-12">
                        <label for="account" class="form-label">Files: <span style="color: red;">*</span></label>
                      <textarea style="height: 84px;" placeholder="Enter your comments here" rows="5" cols="50" class="form-control"></textarea>

                      </div>



                    </div>

                  </div>





                      <div class="table-button flex-center">
                      <button class="button-all btn-blue mg-0 save-btn">Save </button>

                    </div>
                </form>


   </div>
</div>
</div>


    </mat-tab>
    <mat-tab label="Summary"> <!-- Summary--------------------------------------->
      <div class="main-body grey-bg">
        <div class="container">
              <div class="table-button details-main top-heading top-page">
                <div><h1>Summary</h1>
                  <ul class="pagination">
                  <li><a href="">Dashboard</a></li>
                  <li><img src="../assets/icon-arrow-right.svg" alt="arrow icon" title="arrow"></li>
                  <li><a href=""> Create New Project</a></li>
                  <li><img src="../assets/icon-arrow-right.svg" alt="arrow icon" title="arrow"></li>
                  <li>Summary</li>
                </ul>
              </div>

                </div>
                <div class="details-main">
                              <form class=" details-box" >
                              <div class="main-sonar border-b-none">

                                <div class="row ">




                            <div class="mb-3 col-md-12 col-sm-12">
                              <label for="account" class="form-label">Overall Comments: <span style="color: red;">*</span></label>
                            <textarea style="height: 84px;" placeholder="Enter your comments here" rows="5" cols="50" class="form-control"></textarea>

                            </div>



                          </div>

                        </div>





                            <div class="table-button flex-center">
                            <button class="button-all btn-blue mg-0 ">Save </button>

                          </div>
                      </form>


         </div>
      </div>
      </div> </mat-tab>
  </mat-tab-group>
  </div>
