<mat-tab-group>
  <mat-tab label="FUNCTIONAL">
    <div class="container">
      <div class="row" >
        <div class="col-md-6"> <h1>{{selectelTabCheckList?.key}} checklist</h1></div>
        <div class="col-md-6">
          <button type="button" style="background-color: #2596be; float: right;" class="btn btn-info">Next</button>
        </div>

      </div>
      <div *ngFor="let child of selectelTabCheckList?.value ">
        <!-- <div [ngClass]="child.options==''?'col-md-4':'col-md-12'"  style="background-color: #322c2c12;" >
         <span>{{child.key}}</span>
     </div> -->
     <div class="container" style="background-color: #322c2c12;">
      <div class="row" style="background-color: #322c2c12;">
        <div [ngClass]="child.options==''?'col-md-4':'col-md-12'" > 
          <span>{{child?.key}}</span>
        </div>
          <div class="col-md-4" *ngIf="child.options==''">
            <mat-select placeholder="select option" class="form-control">
              <mat-option [value]="opt" *ngFor="let opt of selectOptions">{{opt}}</mat-option>
            </mat-select>
          </div>
          <div class="col-md-4" *ngIf="child.options==''">
<ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"  (rateChange)="getRating($event)"></ngb-rating>

          </div>


      </div>
    </div>
    

       <div class="container" style="background-color: white;" *ngFor="let subChild of child?.value">
         <div class="row" style="background-color: white;">
           <div class="col-md-4"> <span>{{subChild?.key}}</span></div>
           <div class="col-md-4">
             <mat-select placeholder="select option" class="form-control">
               <mat-option [value]="opt" *ngFor="let opt of selectOptions">{{opt}}</mat-option>
             </mat-select>
           </div>
           <div class="col-md-4">
<ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false" (rateChange)="getRating($event)"></ngb-rating>

           </div>

         </div>
        
       </div>
      </div>
     
    
     
    
       <div class="row">
        <div class="col-md-12">
          <button type="button" style="background-color: #2596be; float: right;" class="btn btn-info">Next</button>

        </div>
       </div>
    </div>
  </mat-tab>
  <mat-tab label="QUALITY"></mat-tab>
  <mat-tab label="PERFORMANCE"></mat-tab>
</mat-tab-group>