<div class="dialog-card main-cards">
  <mat-dialog-content class="mat-typography">

        <span class="close" mat-button mat-dialog-close><img alt="close btn"src="../assets/close-popup.svg" /></span>


        <strong class="comment-question">Does the application is providing all the functionalities that were mentioned in the functional requirement of that application?</strong>
        <hr class="line-grey">

        <form>
        <label class="label-popup" for="Add Comments">Add Comments:</label>
          <textarea class="form-control" placeholder="Enter your comments here" rows="4" cols="50"></textarea>
          <div class="table-button flex-center">
            <button class="button-all btn-blue top-30">Save</button></div>

          </form>


  </mat-dialog-content>
  <mat-dialog-actions>

  </mat-dialog-actions>

  </div>
