<div class="dialog-card main-cards">
  <mat-dialog-content class="mat-typography">

        <span class="close" mat-button mat-dialog-close><img alt="close btn"src="../assets/close-popup.svg" /></span>


        <strong class="comment-question">Do you really want to delete?</strong>
        <hr class="line-grey">

        <form>
           <div class="table-button flex-center">
            <button class="button-all btn-blue top-30" (click)=" onClick('No')">Cancel</button>
            <button class="button-all btn-blue top-30" (click)=" onClick('Yes')" style="margin-left: 20px;" >Delete</button>
            

          </div>

          

          </form>


  </mat-dialog-content>
  <mat-dialog-actions>

  </mat-dialog-actions>

  </div>

  