/*@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";*/
html, body { height: 100%; }
body {
margin:0;
font-family:'Lato', sans-serif !important;

}
.white-btn{
  width:141.775px !important;
}
.white {
  color:#fff;
}
ul {
  list-style:none;
}
.top-20 {
  padding-top:20px;
}
.top-5 {
  padding-top:5px;
}
.bottom-100 {
 padding-bottom:100px;
}
.top-30 {
  padding-top:20px;
}
.mg-0 {
  margin:0px !important;
}
.pd-0 {
  padding: 0px !important;
}
.border-b-none {
  border-bottom: none !important;
}
.center {
  display: block;
  text-align: center;
}
.green-color {
  color: #139347;
  padding-top:12px;

}
.grey-bg {
  background: #F8F8F9;
}

.mdc-tab{
  font-family: inherit !important;
}
.container {
  max-width:1920px !important;
  width:100% !important;
  margin: 0 auto;
  padding: 0px !important;
  }
  .header {
    overflow: hidden;
    width:100% !important;
    margin: 0 auto;
    background-color: #023047;
    padding: 9px 16px 3px 20px;
    height: 55px;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content:space-between;
}

  .blue-color {
    color:#003B5C;
  }
  .tabs-grey .mat-mdc-tab-header {
    background:#f9f8f8;
    padding-left: 20px;
    border-bottom: 1px solid #E7E7E7;
    position: fixed;
    width: 100%;
    z-index:91;
    padding-top:73px;
    padding-bottom: 20px;
  }




  .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
    flex-grow:0 !important;
  }

  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #003B5C;
    font-weight: 800;
  }
  .mat-mdc-tab .mdc-tab__text-label{
    color:#4F788F !important;
    text-transform: uppercase;
    font-weight:600;
    font-size: 1rem;
  }

  .tab-heading{
    color:#4F788F;

    border: 200px solid #ccc !important;
  }


  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color:#003B5C !important;
    font-weight: 800;
  }

  .vertical-tabs .mat-mdc-tab-header {
    background:#fff;
    border: 0px;
    width: 100%;
    max-width: 315px;
    border-right: 1px solid #F5F1F1;
    padding-top:18px;
    position: fixed;
    height: 100vh;
    top: 142px;
  }
  .vertical-tabs .mat-mdc-tab-labels {
     display:inline-block !important;
   }

  .vertical-tabs .mat-mdc-tab-body-wrapper {
    position: absolute;
    width: 76%;
    left: 22.5%;
    overflow:visible ;
    top: 112px;
  }
  .mat-mdc-tab-body-wrapper {

    overflow: inherit !important;
  }

  /**/

  .vertical-tabs .mat-mdc-tab .mdc-tab__text-label {
    display: block;
  }

  .vertical-tabs .steps {
    color: #5F737D;
    font-size: 0.75rem;
    font-weight: 400;
  }

  .vertical-tabs .steps-title {
    display: block;
    color: #2C3336;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0px;
  }

  .vertical-tabs .mat-mdc-tab-header .mat-mdc-tab {
    height:65px;
    text-align: left;
    padding: 0px 0px;
    margin: 0px;
    width: 270px;
    display: block;
}

.example-tab-icon {
position: absolute;
right: 0px;
}

.vertical-tabs .mdc-tab__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 21px;
}
.vertical-tabs .mdc-tab-indicator--active {
  background-color:#EBF6FD !important;

}
.vertical-tabs .mdc-tab-indicator--active .steps-title{
color: #003B5C;
font-weight:800;
}
.vertical-tabs .mdc-tab-indicator--active::after {
  background-color: #EBF6FD;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  right: -10px;
  top:24px;
}

.vertical-tabs .mdc-tab-indicator__content--underline{
display: none;
}
.right-next{
  position: absolute;
  right: 0px;
  display: flex;
  padding: 0px 5px;
  top: 10px;
}

.right-next li{
margin: 0px 10px;
list-style: none;
}
.right-next li a{
text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #023047;
    color:#023047;
    border-radius: 2px;

}

.heading {
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
  padding-top: 22px;
}
.heading-grey {
display: flex;
align-items: self-start;
background: #F8F8F8;
padding:0.8rem 1rem;
justify-content: space-between;
align-items: center;
min-height:80px;
flex-wrap: wrap;
}
.heading-grey h4 {
  border-radius: 0.125rem;
  background: #F8F8F8;
  color: #000;
  font-size:16px;
  font-weight: 900 !important;
  width:52%;
  padding-top:0px;
  margin-bottom:0px!important;
  padding-bottom: 0px !important;
}
.heading-grey .quality {
padding: 0px;
border-bottom:0px;
}

.heading-grey .number-bule {
  background: #023047;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 50px;
    padding: 8px;
    font-weight: 600;
    font-size: 13px;

}
.quality {
  display: flex;
  align-items: self-start;
  border-bottom: 1px dashed #CBCBCB;
  margin-left:17px;
  padding:12px 16px 12px 0px;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
}
.questions {
  width: 59%;
  color: #212121;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-right: 6%;
  }
  .select-dropdown {
position: relative;
  }
 .select-dropdown .mat-mdc-text-field-wrapper {
  border-radius: 0.1875rem;
  border: 1px solid #C1C1C1;
  width: 93px;
  background:#fff !important;
  margin-right: 10px;
  height: 52px;
}
.selection .mat-mdc-text-field-wrapper{
width: 114px !important;
}

.Comment {
    text-align: center;
    border-radius: 0.1875rem;
    border: 1px solid #C1C1C1;
    padding:12px;
    background:#fff;
    height: 53px;
}
.Comment img {
width:30px;

}
.mat-mdc-tab-body.mat-mdc-tab-body-active{
  overflow-y: inherit !important;
  overflow-x: inherit !important;
  position:inherit !important;
  z-index:inherit !important ;

}
.mat-mdc-tab-body-content {
  height: 100%;
  overflow: inherit !important;
  padding-top: 26px;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 12px!important;
  padding-bottom: 0px !important;

}
.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
  border-color:#219EBC!important;
}
.mdc-tab-indicator .mdc-tab-indicator__content--underline {
  border-top-width: 3px !important;
}
.mat-h2, .mat-headline-6, .mat-typography .mat-h2, .mat-typography .mat-headline-6, .mat-typography h2, .mat-typography h1, .mat-typography h3, .mat-typography h4, .mat-typography h5, .mat-typography h6{
  font-family:'Lato', sans-serif !important;
  font-weight:600 !important;
  font:600 'Lato', sans-serif !important;
  padding-bottom: 1.5rem;
  margin-bottom: 0px !important;
 }
.mat-typography h4 {
  font-family:'Lato', sans-serif !important;
}
.mat-mdc-form-field-subscript-wrapper {
height: 0px !important;
}

.question-list .quality:last-child  {
border-bottom:0px;
}

/*****main body styles*****/

.main-body {
  padding:56px 22px 0px 22px;
}

.table-button {
  display: flex;
  justify-content:space-between;
}
.table-button h1{
  padding-top:4px;
  padding-bottom: 0px;
  font-size: 20px;
  font-weight:700 !important;
}
.button-all {
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  border: none;
 margin: 20px 0px;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  padding: 9px 21px;
  height: 2.375rem;
  }
  .btn-blue {
  background:#219EBC;
}
.top-heading .btn-blue {
  height: 38px;
}
.btn-outline {
background:#fff;
border:1px solid #023047;
color: #023047;
text-align: center;
font-size: 14px;
font-weight: 600;
letter-spacing: 0.14px;
width: 101px;
height: 38px;
margin-right: 20px !important;
}
.btn-greay {
  background:#DEDEDE;
  color:#7B7B7B;
}
.hide-header .hide-login {
  display:none;
}



/***Login***/
.left-login {
background: linear-gradient(321deg, rgba(66, 21, 1, 0.84) 0%, rgba(0, 13, 20, 0.93) 92.02%);
width:100%;
}

.login-logo {
  padding-top: 2.06rem;
  padding-left:2.25rem;
  display: block;
}

.heading-text {
display: flex;
    align-items: center;
    justify-content: center;

}
.heading-text h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  color: #FAFAFA;
  text-shadow: 2px 6px 14px 0px rgba(0, 0, 0, 0.57);
  font-size: 2.625rem !important;
  font-weight: 600;
  line-height: 3.875rem !important;
  padding: 0px 110px;
  text-align: center;

}

.login-footer {
  display: block;
    text-align: center;
}

.login-footer p {
  color: rgba(255, 255, 255, 0.83);
  margin-bottom: 3px !important;
}
.feedback {
 color: #FFF;
 font-size: 0.625rem;
 font-weight:600;
}
.login-footer ul {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}
.login-footer ul li {
  padding: 0px 5px;
  text-align: center;
  color:rgba(255, 255, 255, 0.83);
  list-style: none;
}
.full-btn {
width:100%;
font-size: 0.875rem;
font-weight: 600;
letter-spacing: 0.00875rem;
color:#fff;
border: 1px solid #219EBC;
height: 2.375rem;
border-radius: 4px;
}
.mb-bottom {
  margin-bottom: 1.88rem;
  position: relative;
}

.sign-title {
font-weight: 800;
margin-bottom:3.38rem;
line-height: 1.25rem;
font-size:1.25rem;
display: block;
}
.remember {
  display:flex;
padding-top: 2.62rem;
justify-content: space-between;

}
.project-name {
border-radius: 0.375rem;
border: 1px solid #E0E6EC;
background: #FFF;
box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.07);
margin-bottom: 0.88rem;
}
.line {
  opacity: 0.5;
  background: linear-gradient(180deg, #E3E3E3 0%, rgba(255, 255, 255, 0.00) 100%);
  height: 0.875rem;
}

.project {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding:1.06rem 1.38rem;
margin: 0px;

}
.project h6 {
  color:#0E0E0E;
  font-size:1.0625rem !important;
  font-weight:700!important;
  line-height:26px;
  line-height: 26px !important;
  padding-bottom: 0px;

}
.project h6 span {
  color: #585858;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  display: block;
}
.accounts li {
color: #585858;
font-size: 0.75rem;
font-weight:500;
width: 18%;
}

.accounts li:last-child {
width:28%;

}

.accounts li strong {
color: #0E0E0E;
font-size: 0.875rem;
font-weight:600;
display: block;
}
.icons-view {
  display:flex;
  margin: 0px;
  padding: 0px;
}
.icons-view li {
  display: flex;
  padding:0 0 0 33px;

}
.review-status {
  display: flex;
  justify-content: space-around;
  font-weight:500;
  font-size:1rem;
}

.review-status img {
  height: 0.75rem;
  margin-top: 5px;
  margin-right: 7px;

}

.details-main {
  margin:0 0rem;
  padding-bottom: 20px;
}

.details-box {
border-radius: 0.25rem;
border: 1px solid #E0E6EC;
background: #FFF;
box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.07);
padding:0rem 1rem;
margin-left: 0px !important;
margin-right: 0px !important;
margin-top: 90px;
margin-bottom: 50px;
}

.top-heading {
 padding:20px 5px;
}

.details-box .form-control{
  border-radius: 4px;
  border: 1px solid #C1C1C1;
  height: 53px;
  padding: 12px 10px;
  font-weight: 700;
  color:#000;
  margin-bottom: 16px;
  background: #fff !important;
}

.details-box .form-label {
  color: rgba(0, 0, 0, 0.60);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.15px;
  position: absolute;
  top: -11px;
  margin-left:16px;
  background: #fff;
  display: inline-block;
  padding:4.5px 14px 5px 6px;
}
#codeReviewComments {
  height: 110px;

}

.details-box .mb-3 {
  position: relative;
}

.user-managment .mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8 {
  border-radius: 6px;
  border: 1px solid #E0E6EC;
  background: #FFF;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}
.grey-bg.user-managment {
  height:100vh;

}
.user-managment .mdc-data-table__header-cell {
background: #353737 !important;
color: #fff;
border-right: 1px solid #8D9EA7;
height: 40px;
}

.user-managment .mdc-data-table__cell {

color: #171717;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.05px;
}

.user-managment .mat-mdc-paginator-container {
  justify-content:center;
  border-top:1px solid #ECECEC;
  padding: 10px 0;

}
.user-managment .mat-mdc-paginator-page-size-label, .mat-mdc-paginator-range-label {
  font-size: 14px;
  color: #353535;

}
.btn-de button{
margin-right: 20px;
background: none;
border: none;

}
.user-managment .mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
  background: green;
}
.user-managment .mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after {
  background:#14AE5C;

}

/**sign up***/
#id_work_days{
  height: 44px;
  border: none;
  overflow: hidden;
}
#id_work_days::-moz-focus-inner {
  border: 0;
}
#id_work_days:focus {
  outline: none;
}
#id_work_days option{
  font-size: 1.2em;
  padding: 10px 14px;
  text-align: center;
  margin-right:0px;
  display: inline-block;
  cursor: pointer;
  border:#C1C1C1 solid 1px;
  border-radius: 4px;
  color:rgba(0, 0, 0, 0.87);
}
#b-user {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: 0px !important;
}

#admin {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;

}
.add-newuser {
  height: 100vh;
}
.add-newuser .table-button{
  justify-content: left;
  display:flow;
}
.add-newuser ul {
  padding-left: 0px;
  margin-bottom:0px;
}
.add-newuser ul li{
  display: inline-block;
  padding-right:10px;

}
.add-newuser ul li a{
color:#008CAD !important;
font-size: 14px;
font-weight: 400;
}
.add-newuser ul li a:last-child {
  color: #666;

}


.pagination{
  padding-left: 0px;
  margin-bottom:0px;
 margin-top:4px ;
}
.pagination li{
  display: inline-block;
  padding-right:10px;

}
.pagination li a{
color:#008CAD !important;
font-size: 14px;
font-weight: 400;
}
.pagination li:last-child {
  color:#666;
  font-size:14px;
}
.pagination h1 {
  padding-top: 0px;
}

.details-box textarea {
  border-radius: 4px;
  border: 1px solid #C1C1C1;
  padding: 12px 10px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 16px;
  width:100%;
}

img.icon-login {
  position: absolute;
  top: 14.5px;
  left: 8px;
}


.search {
  display:flex;
  justify-content: space-between;

  }
  .form-group.has-search {
    margin-right: 20px;
    position: relative;
  }

  .search input{
    width: 255px;
    height: 38px;
    margin-top: 2px;
    border-radius: 4px;
    border: 1px solid #C1C1C1;
    color:rgba(99, 99, 99, 0.87) !important;
    padding-left: 30px;
  }

  .search .icon-serch {
    position: absolute;
    left: 0px;
    top: 20px;

  }


  .select-dropdown mat-label {
    /*background: #fff;*/
    padding: 0px 4px;
    position: absolute;
    top: -9px;
    left: 8px;
    z-index:9;
    color:rgba(0, 0, 0, 0.60);
}
.line-top {
  border-top: 2px solid #fff;
  content: "";
  bottom: 10px;
  left: 2px;
  position: absolute;
  width: 80px;
  z-index: -1;

}
.rating-line {
  width: 50px;

}

.achieved-line {
  width: 65px;

}
.box--right {
  display: flex;
  justify-content: space-between;
}


.flex-center {
  display: flex;
  justify-content:center;
}
.line-grey {
background: #E7E7E7;
margin-left: -24px;
margin-right: -24px;
margin-top:25px;
margin-bottom:25px;

}
.comment-question {
color: #000;
font-family:'Lato';
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 26px;
margin-right: 53px;
display: block;
}
.close {
  position: absolute;
  right: 26px;
  top:22px;

}

.label-popup {
  color:#181818;
  margin-bottom: 10px;

}

.mat-mdc-option {
  background: none !important;
}


.mat-select-panel .ng-animating {
    visibility: hidden;
  }

.main-sonar {
  margin: 10px 20px;
}

  .top-page {
    position:fixed;
    z-index: 92;
    left: 20px;
    top: 45px;
}



.save-btn {
  width: 136px;
  height: 38px;
 }


 .mat-mdc-tab-labels {
  justify-content:end;
  margin-right: 40px;

 }
 .mdc-tab {
  padding-right:0px!important;
  padding-left:0px!important;
 }



.tabs-grey .mat-mdc-tab-labels .mat-mdc-tab.mdc-tab{
  border:1px solid #ccc;
  /*overflow: hidden;*/
}
.tabs-grey .mat-mdc-tab-labels .mat-mdc-tab.mdc-tab:first-child {
  border-right: 0px;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;}
.tabs-grey .mat-mdc-tab-labels .mat-mdc-tab.mdc-tab:last-child {
  border-left: 0px;
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}
.vertical-tabs .mat-mdc-tab-labels .mat-mdc-tab.mdc-tab {

  border: 0px;
}
.tabs-grey .mat-mdc-tab .mdc-tab__text-label {
  color: #202020!important;
  text-transform:initial;
  font-weight: 600;
  font-size: 14px;
  padding: 0px 12px;
}

.mat-mdc-tab-group-stretch-tabs .mdc-tab-indicator--active {
  background: #219EBC;
  color: #fff;
}

.mat-mdc-tab-group-stretch-tabs .mdc-tab-indicator--active .tabs-grey .mat-mdc-tab .mdc-tab__text-label {
  color:#fff!important;

}
.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
  display:none;
}

.mat-mdc-tab.mdc-tab {
  height: 40px;
}



.mat-progress-bar.mat-progress-bar {
  height: 20px;
}

.mat-progress-bar .mat-progress-bar-fill::after {
    background-color: green;
}

.mat-progress-bar .mat-progress-bar-buffer {
    background: #E4E8EB;
}

span.red-dot {
  background: #FA1717;
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 8px;
  position: absolute;
  right: 3px;
  top: 9px;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  color: #fff !important;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#F4F4F4;
  text-align: center;
  z-index: 99;
}
.footer p{
  color: #373741;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  padding: 14px 0px;
  margin: 0px !important;
  text-align: left;
  padding-left: 20px;
}


.list-sub .quality:last-child  {
border-bottom: 0px;
}
.botton-grey {
  padding-bottom: 140px;

}


button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn-upload {
  width:246px;
  margin-top: 36px;
  margin-bottom: 47px;
}

.mg-bt {
  margin-bottom:50px;
}

.Project-details {
  padding: 56px 20px 36px 20px;
}

.mdc-linear-progress {
  height:22px !important;
  margin-bottom:20px;
}

.mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {

  background:#F2F2F2!important;

}


/***/




button:focus {
  outline: none;
}

[disabled] {
  opacity: .6;
  cursor: default;
}

.not-allowed {
  cursor: not-allowed;
}

.no-cursor {
  cursor: none;
}
/***/



.m-logo {
display: none;
}

.full-textarea {
margin-top:10px;
width:100%;
}

.cdk-overlay-pane .dialog-card {
  min-width: 600px !important;
  width: 100%;

}

.delete-project {
padding:20px 0px 0px 0px;
}
.info-message {
  position: absolute;
  top: 57px;
  right: 20px;
  font-weight: 800;
}
.info-message img{
  width:22px;
  height:22px;
  margin-right:5px;
}


@media only screen and (max-width: 768px) {
  .m-logo {
    display: block;
    width: 100% !important;
    margin: 0 auto;
    background-color: #023047;
    padding: 14px 16px 14px 20px;
    position: absolute;
    left: 0px;
    }

    .login {
      min-height:auto!important;
      margin-top:6em;

    }

    .accounts li:last-child {
      width: 100%;
    }

    .accounts li {
      width:100%;
      margin-bottom:18px;
    }
    .accounts li strong {
      display: initial;

    }
    .details-box {
      margin-top:120px;
    }
    .tabs-grey .mat-mdc-tab-header{
    padding-bottom:68px;
  }

  .top-page {
    top:100px;
  }
  .menu {
    display:none!important;
  }
  a.logo img {
    width: 92%;
}
.header {
  padding:9px 3px 3px 10px;
}
}
