/*@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";*/
html, body { height: 100%; }
body {
margin:0;
font-family:'Lato', sans-serif !important;

}
.top-20 {
  padding-top:20px;
}
.mdc-tab{
  font-family: inherit !important;
}
.container {
  max-width:1920px !important;
  width:100% !important;
  margin: 0 auto;
  padding: 0px !important;
  }
  .header {
    overflow: hidden;
    width:100% !important;
    margin: 0 auto;
    background-color: #023047;
    padding: 9px 16px 3px 20px;
    height: 55px;
    position: fixed;
    z-index: 99;
}
  .blue-color {
    color:#003B5C;
  }
  .tabs-grey .mat-mdc-tab-header {
    background:#f9f8f8;
    padding-left: 20px;
    border-bottom: 1px solid #E7E7E7;
    position: fixed;
    width: 100%;
    z-index: 9;
    padding-top: 60px;

  }
  .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
    flex-grow:0 !important;
  }

  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #003B5C;
    font-weight: 800;
  }
  .mat-mdc-tab .mdc-tab__text-label{
    color:#4F788F !important;
    text-transform: uppercase;
    font-weight:600;
    font-size: 1rem;
  }

  .tab-heading{
    color:#4F788F;
  }

  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color:#003B5C !important;
    font-weight: 800;
  }

  .vertical-tabs .mat-mdc-tab-header {
    background:#fff;
    border: 0px;
    width: 100%;
    max-width: 315px;
    border-right: 1px solid #F5F1F1;
    padding-top:1.01rem;
    position: fixed;
    height: 100vh;
    top: 120px;
  }
  .vertical-tabs .mat-mdc-tab-labels {
     display:inline-block !important;
   }

  .vertical-tabs .mat-mdc-tab-body-wrapper {
    position: absolute;
    width: 76%;
    left: 22.5%;
    overflow:visible ;
    top: 112px;
  }
  .mat-mdc-tab-body-wrapper {

    overflow: inherit !important;
  }

  /**/

  .vertical-tabs .mat-mdc-tab .mdc-tab__text-label {
    display: block;
  }

  .vertical-tabs .steps {
    color: #5F737D;
    font-size: 0.75rem;
    font-weight: 400;
  }

  .vertical-tabs .steps-title {
    display: block;
    color: #2C3336;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0px;
  }

  .vertical-tabs .mat-mdc-tab-header .mat-mdc-tab {
    height: 5.52rem;
    text-align: left;
    padding: 0px 0px;
    margin: 0px;
    width: 270px;
    display: block;
}

.example-tab-icon {
position: absolute;
right: 0px;
}

.vertical-tabs .mdc-tab__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 21px;
}
.vertical-tabs .mdc-tab-indicator--active {
  background-color:#EBF6FD;

}
.vertical-tabs .mdc-tab-indicator--active .steps-title{
color: #003B5C;
font-weight:900;
}
.vertical-tabs .mdc-tab-indicator--active::after {
  background-color: #EBF6FD;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  right: -10px;
  top: 34px;
}

.vertical-tabs .mdc-tab-indicator__content--underline{
display: none;
}
.right-next{
  position: absolute;
  right: 0px;
  display: flex;
  padding: 0px 5px;
  top: 10px;
}

.right-next li{
margin: 0px 10px;
list-style: none;
}
.right-next li a{
text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #023047;
    color:#023047;
    border-radius: 2px;

}

.heading {
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
  padding-top: 22px;
}
.heading-grey {
display: flex;
align-items: self-start;
background: #F8F8F8;
padding: 1.063rem 1rem;
}
.heading-grey h4 {
  border-radius: 0.125rem;
  background: #F8F8F8;
  color: #000;
  font-size:16px;
  font-weight: 900 !important;
  width:62%;
  padding-top:7px;
  margin-bottom:0px !important;
}
.heading-grey .quality {
padding: 0px;
border-bottom:0px;
}

.heading-grey .number-bule {
  background: #023047;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 50px;
    padding: 8px;
    font-weight: 600;
    font-size: 13px;

}
.quality {
  display: flex;
  align-items: self-start;
  border-bottom: 1px dashed #CBCBCB;
  margin-left: 50px;
  padding:12px 16px 12px 0px;

}
.questions {
  width: 59%;
  color: #212121;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-right: 6%;
  }
 .select-dropdown .mat-mdc-text-field-wrapper {
  border-radius: 0.1875rem;
  border: 1px solid #C1C1C1;
  width: 93px;
  background:#fff !important;
  margin-right: 10px;
  height: 52px;
}
.selection .mat-mdc-text-field-wrapper{
width: 114px !important;
}

.Comment {
    text-align: center;
    border-radius: 0.1875rem;
    border: 1px solid #C1C1C1;
    padding:12px;
    background:#fff;
    height: 53px;
}
.Comment img {
width:30px;

}
.mat-mdc-tab-body.mat-mdc-tab-body-active{
  overflow-y: inherit !important;
  overflow-x: inherit !important;

}
.mat-mdc-tab-body-content {
  height: 100%;
  overflow: inherit !important;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 5px !important;
}
.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
  border-color:#219EBC!important;
}
.mdc-tab-indicator .mdc-tab-indicator__content--underline {
  border-top-width: 3px !important;
}
.mat-h2, .mat-headline-6, .mat-typography .mat-h2, .mat-typography .mat-headline-6, .mat-typography h2{
  font-family:'Lato', sans-serif !important;
  font-weight:600 !important;
  padding-bottom: 1.5rem;
  margin-bottom: 0px !important;
 }
.mat-typography h4 {
  font-family:'Lato', sans-serif !important;
}
.mat-mdc-form-field-subscript-wrapper {
height: 0px !important;
}

.question-list .quality:last-child  {
border-bottom:0px;
}

/*****main body styles*****/

.main-body {
  padding: 90px 20px 0px 20px;
}
.button-create {
background:#219EBC;
padding: 10px;
border-radius: 4px;
color: #fff;
border: none;
margin-bottom: 20px;
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
}
.table-button {
  display: flex;
  align-items: end;
  justify-content: end;
}
