@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
html, body { height: 100%; }
body { margin: 0; font-family:'Lato', sans-serif!important; }


.container {
  max-width:1440px !important;
  width:100% !important;
  margin: 0 auto;
  }
  .blue-color {
    color:#003B5C;
  }
  .tabs-grey .mat-mdc-tab-header {
    background:#f9f8f8;
    padding-left: 20px;
    border-bottom: 1px solid #E7E7E7;

  }
  .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
    flex-grow:0 !important;
  }

  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #003B5C;
    font-weight: 800;
  }
  .mat-mdc-tab .mdc-tab__text-label{
    color:#4F788F !important;
    text-transform: uppercase;
    font-weight:600;
  }

  .tab-heading{
    color:#4F788F;
  }

  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color:#003B5C !important;
    font-weight: 800;
  }

  .vertical-tabs .mat-mdc-tab-header {
    background:#fff;
    border: 0px;
    width: 100%;
    max-width: 305px;
    border-right: 1px solid #F5F1F1;
  }
  .vertical-tabs .mat-mdc-tab-labels {
     display:inline-block !important;
   }

  .vertical-tabs .mat-mdc-tab-body-wrapper {
    position: absolute;
    width: 76%;
    left: 25%;
  }


  /**/

  .vertical-tabs .mat-mdc-tab .mdc-tab__text-label {
    display: block;
  }

  .vertical-tabs .steps {
    color: #5F737D;
    font-size: 0.75rem;
    font-weight: 400;
  }

  .vertical-tabs .steps-title {
    display: block;
    color: #2C3336;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0px;
  }

  .vertical-tabs .mat-mdc-tab-header .mat-mdc-tab {
    height: 5.52rem;
    text-align: left;
    padding: 0px 0px;
    margin: 0px;
    width: 270px;
    display: block;
}

.example-tab-icon {
position: absolute;
right: 0px;
}

.vertical-tabs .mdc-tab__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 21px;
}
.vertical-tabs .mdc-tab-indicator--active {
  background-color:#EBF6FD;

}
.vertical-tabs .mdc-tab-indicator--active .steps-title{
color: #003B5C;
font-weight:900;
}
.vertical-tabs .mdc-tab-indicator--active::after {
  background-color: #EBF6FD;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  content: "";
  position: absolute;
  right: -10px;
  top: 34px;
}

.vertical-tabs .mdc-tab-indicator__content--underline{
display: none;
}
.right-next{
  position: absolute;
  right: 0px;
  display: flex;
  padding: 0px 5px;
  top: 10px;
}

.right-next li{
margin: 0px 10px;
list-style: none;
}
.right-next li a{
text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #023047;
    color:#023047;
    border-radius: 2px;

}

.heading {
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
  padding-top: 22px;
}
.heading-grey {
  border-radius: 0.125rem;
  background: #F8F8F8;
  color: #000;
font-size:16px;
font-weight: 900 !important;
padding: 26px 16px;

}
.heading-grey span {
  background: #023047;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 50px;
    padding: 8px;
    font-weight: 600;
    font-size: 13px;

}
.quality {
  display: flex;
  align-items: self-start;
  border-bottom: 1px dashed #CBCBCB;
  margin-left: 50px;
  padding: 10px 0px 20px 0px;


}
.questions {
  width: 54%;
  color: #212121;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-right: 6%;
  }
.selection .mat-mdc-text-field-wrapper {
  border-radius: 0.1875rem;
  border: 1px solid #C1C1C1;
  width: 8.9375rem;
  height: 38px;
  background: #fff !important;
}


.Comment {
    text-align: center;
    border-radius: 0.1875rem;
    border: 1px solid #C1C1C1;
    margin: 0px 16px;
    padding: 4px 12px;
}
.mat-mdc-tab-body.mat-mdc-tab-body-active{
  overflow-y: inherit !important;
}
.mat-mdc-tab-body-content {
  height: 100%;
  overflow: inherit !important;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 5px !important;
}
