<div class="main-body grey-bg">
  <div class="container">
        <div class="table-button details-main top-heading ">
          <h1 style="font-size: 1.25rem;">Create New Checklist</h1>
          <ul class="pagination">
            <li><a href="">Home</a></li>
            <li><img src="../assets/icon-arrow-right.svg" alt="arrow icon" title="arrow"></li>
            <li><a href="">Code Review Management</a></li>
            <li><img src="../assets/icon-arrow-right.svg" alt="arrow icon" title="arrow"></li>
            <li>Create New Checklist</li>
          </ul>
          </div>
          <div class="details-main">
          <form class="row details-box">
              <div class="mb-3 col-md-4 col-sm-12">
                <label for="developers" class="form-label">Technology Name <span>*</span></label>
                  <input formControlName="firstName" type="text"  required="" autofocus="" class="form-control px-4">
              </div>
              <div class="mb-3 col-md-4 col-sm-12">
                <label for="developers" class="form-label">Technology Type <span>*</span></label>
                  <input formControlName="lastName" type="text"  required="" class="form-control px-4 text-primary">
              </div>
              <div class="mb-3 col-md-4 col-sm-12">
                <label for="developers" class="form-label">Version Type <span>*</span></label>
                <input formControlName="version" type="text"  required="" class="form-control px-4 text-primary">
            </div>
            <div class="mb-3 col-md-8 col-sm-12">
              <label for="developers" class="form-label">Additional Information <span>*</span></label>

              <textarea id="w3review" name="Additional" rows="4" >

                </textarea>
          </div>




          <div class="mb-3 col-md-4 col-sm-12">
            <section class="example-section">
              <mat-checkbox class="example-margin" [(ngModel)]="Sonarqube">Sonar Qube</mat-checkbox>
            </section>
        </div>

      <div class="center">
      <button class="button-all btn-outline mg-0">Cancel</button>
      <button class="button-all btn-blue mg-0">Create User</button>
    </div>

          </form>
      </div>
  </div>
</div><!-- End -->
