
<div class="main-body">
<div class="container">
  <div class="table-button top-heading">
  <h1 style="font-size: 1.25rem;">Dashboard</h1>
  <button class="button-all btn-blue mg-0" (click)="gettingStarted()">Create New Project</button>
  </div>

 

<div class="project-name" *ngFor="let data of dataSource">
<div class="project">
 <h6><span>Project Name</span>{{data.project}}</h6>
 <span class="green-color review-status"><img title="view page" alt="View" src="../assets/Submitted.svg"> Code Review {{data.status}}</span>
  <ul class="icons-view">
    <li><img *ngIf="data.status=='completed'" title="export page" alt="export" src="../assets/export.svg"></li>
    <li (click)="onViewSubmittedDetails(data)"><img title="view page" alt="View" src="../assets/File_dock_light.svg"></li>
    <li (click)="onDeleteCompleteDetails(data)"><img title="trash" alt="Delete" src="../assets/trash-can-l.svg"></li>

  </ul>
</div>
  <div class="line"></div>
  <ul class="project accounts">
    <li>Account <strong>{{data.account}}</strong></li>
    <li>Developers <strong>{{data.developers}}</strong></li>
    <li>Reviewer <strong>{{data.reviewersName}}</strong></li>
    <li>Date <strong>{{data.createdDate}}</strong></li>
    <li>Comments <strong>{{data.codeReviewComments}}</strong></li>
  </ul>
</div>







</div>

</div>
