
<div class="main-body">
<div class="container">
  <div class="table-button top-heading">
  <h1 style="font-size: 1.25rem;">Dashboard</h1>
  <button class="button-all btn-blue mg-0" (click)="gettingStarted()">Create New Project</button>
  </div>

 <!-- <div class="row">
        <div class="col-md-12"> <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> Sr.No </th>
            <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
          </ng-container>
              <ng-container matColumnDef="account">
                <th mat-header-cell *matHeaderCellDef> Account </th>
                <td mat-cell *matCellDef="let element"> {{element.account}} </td>
              </ng-container>
              <ng-container matColumnDef="project">
                <th mat-header-cell *matHeaderCellDef> Project </th>
                <td mat-cell *matCellDef="let element"> {{element.project}} </td>
              </ng-container>
              <ng-container matColumnDef="developers">
                <th mat-header-cell *matHeaderCellDef> Developers </th>
                <td mat-cell *matCellDef="let element"> {{element.developers}} </td>
              </ng-container>
              <ng-container matColumnDef="reviewersName">
                <th mat-header-cell *matHeaderCellDef> Reviewer </th>
                <td mat-cell *matCellDef="let element"> {{element.reviewersName}} </td>
              </ng-container>
              <ng-container matColumnDef="codeReviewComments">
                <th mat-header-cell *matHeaderCellDef> Comments </th>
                <td mat-cell *matCellDef="let element"> {{element.codeReviewComments}} </td>
              </ng-container>
              <ng-container matColumnDef="reviewDate">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let row">

                  <span  *ngIf="row.status=='pending'">
                  <button mat-button class="btn btn-primary" style="margin-left: 10px;" (click)="onEditPendingDetails(row)">edit</button>

                  </span>
                  <span *ngIf="row.status=='completed'">
                  <button mat-button class="btn btn-success" (click)="onViewSubmittedDetails(row)" >views</button>

                  </span>
                  <span>
                  <button mat-button class="btn btn-danger" style="margin-left: 10px;" (click)="onDeleteCompleteDetails(row)">Delete</button>

                  </span>
                </td>

              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table></div>
        <div *ngIf="!dataSource">
          <h1>No data</h1>
        </div>
    </div> -->

<div class="project-name" *ngFor="let data of dataSource">
<div class="project">
 <h6><span>Project Name</span>{{data.project}}</h6>
 <span class="green-color review-status"><img title="view page" alt="View" src="../assets/pending.svg"> Code Review {{data.status}}</span>
  <ul class="icons-view">
    <li><img *ngIf="data.status=='completed'" title="export page" alt="export" src="../assets/export.svg"></li>
    <li (click)="onViewSubmittedDetails(data)"><img title="view page" alt="View" src="../assets/File_dock_light.svg"></li>
    <li (click)="onDeleteCompleteDetails(data)"><img title="trash" alt="Delete" src="../assets/trash-can-l.svg"></li>

  </ul>
</div>
  <div class="line"></div>
  <ul class="project accounts">
    <li>Account <strong>{{data.account}}</strong></li>
    <li>Developers <strong>{{data.developers}}</strong></li>
    <li>Reviewer <strong>{{data.reviewersName}}</strong></li>
    <li>Date <strong>{{data.createdDate}}</strong></li>
    <li>Comments <strong>{{data.codeReviewComments}}</strong></li>
  </ul>
</div>







</div>

</div>
